---
import FooterLogo from '@/components/ui/footer/footer-logo.astro';
---

<footer class="bg-accent-800 relative overflow-hidden">
	<div class="content-container flex flex-col gap-10">
		<FooterLogo id="footer-logo" class="h-auto w-full" />
		<span class="text-xs text-white/75">&copy; 2026-Present Tally Zine Fest. All rights reserved.</span>
	</div>
</footer>
